In [1]:
#hypothesis Testing: Population Mean
#from scipy impoer stats
import pandas as pd
data=pd.read_csv('UsedCars.csv')
print(data)


#t,p=stats.tteset_lsamp(df,10192)

    Sale Price
0        12400
1        10400
2        12100
3        10000
4        11000
5         8895
6         7675
7         9975
8         6350
9        10470
10        9895
11       11250
12        8795
13       12500
14        9340
15       10150
16        9200
17        9395
18       11000
19       10640
20       10000
21        7500
22        8000
23       10440
24       10200
25       10300
26        9740
27        9280
28       10930
29        8000
30        9000
31        7680
32        9400
33       10730
34        7350
35       12240
36       11970
37        8240
38        9910
39       10080
40        9440
41        8970
42        9500
43       10050
44       10130
45       11400
46        8500
47        7500
48        9090
49       10500

         Sale Price
count     50.000000
mean    9750.000000
std     1399.998907
min     6350.000000
25%     8977.500000
50%     9942.500000
75%    10492.500000
max    12500.000000

In [8]:
#EX: to test mean of one sample

import numpy as np
import pandas as pd
data=pd.read_csv('UsedCars.csv')
data.info()
data['Sale Price'].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
Sale Price    50 non-null int64
dtypes: int64(1)
memory usage: 464.0 bytes

9750.0

In [6]:
#this two tail test
#for one sided test take half p value

from scipy import stats
t,p=stats.ttest_1samp(data,10192)
print('value of t :',t)
print('value of p :',p)

value of t : [-2.23243887]
value of p : [0.03018869]

In [20]:
#Ex. to test mean using Paired test

import pandas as pd
data=pd.read_csv('Earnings2005.csv')
print(data)

print(data.describe())

data.info()

               Company  Current  Previous
0                 ADVO     0.38      0.26
1           Alaska Air    -1.15     -1.66
2                Amgen     0.66      0.53
3                 AT&T     0.46      0.21
4     Becton Dickinson     0.85      0.75
5            Brunswick     0.90      0.59
6             Conexant    -0.05     -0.26
7            Dow Jones     0.49      0.43
8           First Data     0.52      0.56
9   Franklin Resources     1.21      0.92
10              Gentex     0.19      0.18
11           Honeywell     0.62      0.30
12               Kirby     0.76      0.53
13           LSI Logic     0.09     -0.51
14     Lockheed Martin     1.29      0.83
15           MarineMax     0.04      0.17
16   Merchants Bncshrs     0.46      0.51
17                 NCR     0.81      0.68
18   Newell Rubbermaid     0.28      0.45
19    Novellus Systems     0.17      0.27
20         Pantry Inc.     1.45      0.59
21            Qualcomm     0.36      0.30
22       Suncor Energy     1.48      0.72
23       United Parcel     0.95      0.76
24    Washington Trust     0.45      0.40
         Current   Previous
count  25.000000  25.000000
mean    0.546800   0.340400
std     0.552394   0.526296
min    -1.150000  -1.660000
25%     0.280000   0.260000
50%     0.490000   0.450000
75%     0.850000   0.590000
max     1.480000   0.920000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
Company     25 non-null object
Current     25 non-null float64
Previous    25 non-null float64
dtypes: float64(2), object(1)
memory usage: 564.0+ bytes

In [16]:
from scipy import stats
t,p=stats.ttest_rel(data.Current,data.Previous)
print('value of t :',t)
print('value of p :',p)

value of t : 3.889063637139147
value of p : 0.0006970741390885658

In [22]:
import pandas as pd
data=pd.read_csv('Eagle.csv')
print(data)
data.info()

   Used_Coupon
0           No
1           No
2           No
3          Yes
4           No
..         ...
95          No
96          No
97          No
98          No
99          No

[100 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
Used_Coupon    100 non-null object
dtypes: object(1)
memory usage: 464.0+ bytes

In [6]:
import pandas as pd
data=pd.read_csv('Eagle.csv')
print(data)

   Used_Coupon
0           No
1           No
2           No
3          Yes
4           No
..         ...
95          No
96          No
97          No
98          No
99          No

[100 rows x 1 columns]

In [37]:
pbar=13/100 # sample proportion
pzero=0.10 #hypothesised value
n=100  #sample size
z1=pbar-pzero
z2=(pzero*(1-pzero)/n)**0.5
z=z1/z2
from scipy.stats import norm
mu,sigma=0,1
# the area on the left side of STD,NOR
p=norm.cdf(z,mu,sigma)
#Since it is upper  tale test
print("upper tale P value: %2.4f"%(1-p))

upper tale P value: 0.1587

In [5]:
pbar=14/100 # sample proportion
pzero=0.10 #hypothesised value
n=100  #sample size
z1=pbar-pzero
z2=(pzero*(1-pzero)/n)**0.5
z=z1/z2
from scipy.stats import norm
mu,sigma=0,1
# the area on the left side of STD,NOR
p=norm.cdf(z,mu,sigma)
#Since it is upper  tail test
print("upper tail P value: %2.4f"%(1-p))

upper tail P value: 0.0912

In [7]:
import pandas as pd
data=pd.read_csv('Mutual_new.csv')
#print(data)

     Load  NO_load
0   15.51    13.24
1   14.57    12.13
2   17.73    12.17
3   10.31    16.06
4   16.23    17.61
5   16.04    20.61
6   18.77    13.38
7   18.21    17.15
8   17.27    10.38
9   11.95    18.15
10  13.81    15.82
11  12.44    17.29
12  15.39    16.42
13  13.46    19.49
14  23.66    11.06
15  17.38    13.89
16  22.45     8.43
17  18.38    18.29
18  18.06    17.80
19  22.75    17.05
20  20.35    12.80
21  13.09    15.09
22  18.16    19.70
23  14.47    13.57
24  15.78    18.58
25   8.40    11.89
26  16.52    19.00
27  12.59    20.71
28  18.24    13.56
29  14.80    19.82

In [10]:
from scipy import stats
#Two independent sample
t,p=stats.ttest_ind(data.Load,data.NO_load,equal_var=False)
print("Value of t :",t)
print("Value of p :",p)
print("Mean of Load :",data["Load"].mean())
print("Mean of No_load :",data["NO_load"].mean())

Value of t : 0.590224624873644
Value of p : 0.5573409879729341
Mean of Load : 16.225666666666665
Mean of No_load : 15.704666666666665

Value of t : 0.590224624873644
Value of p : 0.5573409879729341
Mean of Load : 16.225666666666665
Mean of No_load : 15.704666666666665